name: Build Android APK

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v4

    - name: Unzip project
      run: |
        unzip *.zip

    - name: Install system packages
      run: |
        sudo apt update
        sudo apt install -y python3 python3-pip \
          openjdk-17-jdk git zip unzip \
          zlib1g-dev libffi-dev libssl-dev

    - name: Install buildozer
      run: |
        pip3 install --upgrade pip
        pip3 install buildozer cython==0.29.36

    - name: Build APK
      run: |
        cd juejue_app
        buildozer android debug

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: juejue-apk
        path: juejue_app/bin/*.apk
